@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Press Start 2P', cursive;
  background: url('bravo.jpg') no-repeat center center fixed;
  background-size: cover;
  color: yellow;
}

#title {
  text-align: center;
  font-size: 4em;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
  margin-top: 50px;
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

#fitquest {
  text-align: center;
  font-size: 2em;
  opacity: 0;
  animation: fadeIn 2s 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6vw;
  margin-top: 70px;
  padding: 20px;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22vw;
  height: 22vw;
  max-width: 250px;
  max-height: 250px;
  min-width: 130px;
  min-height: 130px;
  background: rgba(255, 255, 255, 0.5); /* Reduced transparency */
  border-radius: 10px;
  transition: background 0.3s;
  text-align: center;
  padding: 20px;
}

.icon-box:hover {
  background: rgba(255, 255, 255, 0.7);
}

.icon {
  width: 45%;
  max-width: 90px;
  height: auto;
  cursor: pointer;
}

.description {
  margin-top: 15px;
  font-size: 1vw;
  color: black;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
}

@media (max-width: 600px) {
  #title {
    font-size: 3em;
  }

  .icon-box {
    width: 45vw;
    height: 45vw;
  }

  .icon {
    width: 60px;
  }
}
